/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

body{
	overflow-x: hidden;
}

header{
	/*position: fixed;
	top: 0px;*/
	min-height: 46px;
	width: 100%;
	background-color: white;
	z-index: 99;
}

#login{
	line-height: 46px;
	height: 100%;
	padding: 0px 20px;
	border-left: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: all 0.5s ease; /* Safari */
    transition: all 0.5s ease;

    
}

#login:hover{
	background-color: rgba(0,0,0,0.4);
	color: white;
}

#debug{
	position: fixed;
	top: 3px;
	right: 2%;
	padding:  10px 35px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 50px;
	z-index: 100;
}

#mainWrapper{
	margin-top: 46px;
}

.ft-menu{
    color:gray;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.separador_titulo{
	width: 100%;
	font-weight: bold;
	font-size: 350%;
	text-align: center;
	padding: 50px 0;
	background-color: rgba(180,180,180,0.4);
}

.separador{
	width: 100%;
	background-color: white;
}

.contenido{
	width: 100%;
	max-width: 960px;
	padding: 20px 0; /*arriba derecha abajo izquierda*/ /* arriba|abajo derecha|izquierda*/
	margin: auto auto;
}

.fProduct{
	display: inline-block;
	width: 30%;
	margin: 0px 1.5%;
	cursor: pointer;
	background-color: black;
}

.fProduct img{
	width: 100%;
	-webkit-transition: opacity 0.5s ease; /* Safari */
    transition: opacity 0.5s ease;
}

.fProduct img:hover{
	opacity: 0.2;
}

.separador .contenido .title{
	text-align: center;
	font-size: 150%;
	margin: 20px 0;
}

#manita{
	position: absolute;
	min-width: 150px;
	margin-left: -150px;
}

#manita img{
	width: 100%;
}

/**
	Estilos de los formularios/cajas flotantes
**/

.floatingWindow{
	position: fixed;
	right: 0%;
	width: 400px;
	max-width: 400px;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,1);
	padding: 20px 15px;
	display: none;
}

.fwRight{
	float: right;
}
.fwLeft{
	float: left;
}

.floatingWindow form input{
	display: block;
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 5px;
}

.floatingWindow form .msg{
	font-size: 85%;
	text-align: center;
	margin: 5px 0;
	color: rgba(0,0,0,0.7);
}

.floatingWindow form .lilText{
	margin: 10px 0 0 0;
	font-size: 80%;
}

.floatingWindow form .lilText span{
	cursor: pointer;
}

.floatingWindow form .lilText span:last-child{
	float: right;
}

.floatingWindow form .lilText span:first-child{
	float: left;
}

.correcto{
	border: 1px solid #27ae60 !important;
	background-color: rgba(0,200,0,0.2);
}
.incorrecto{
	border: 1px solid #c0392b !important;
	background-color: rgba(200,0,0,0.2);
}

/**** User Menu ****/
#userMenu{
	max-width: 150px;
	width: 150px;
	border-radius: 0 0 5px 5px;
	background-color: white;
	padding: 0px 0px;
}

#userMenu ul li{
	text-decoration: none;
	list-style: none;
	cursor: pointer;
	padding: 2.5px 2.5px;
	-webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}

#userMenu ul li:hover{
	background-color: rgba(0,0,0,0.8);
	color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:hover{
    background: #ff4948;
} 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {

    background: #ff4948;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ff4948;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}


.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    
    border: #ff4948;
    background-color: #ff4948;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}




.section-footer{
    background-color: black;
    color: #fff;
    font-weight: lighter;
    width: 100%;
    
}
.section-footer h2{
    font-weight: 400;
    
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-instagram:before {
    content: "\f16d";
}
.fa-youtube-play:before {
    content: "\f16a";
}
.fa-vk:before {
    content: "\f189";
}
.fa fa-phone{
    icon: url("public/phone.png");
}
.center{
    margin: 0 auto;
}
.lista{
    list-style: none;
    color: #aaa;
    font-weight: 300;
    font-size: 15px;
}

.lista a{
    text-decoration: none;
    color: #aaa;
    font-weight: 300;
}
#logoP{
    width: auto;
    height: 13vh;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 
 .profile-info .red-bar{
     background-color:#ff4948;
     height: 42px;
     width: 100%;
     
 }
 .profile-info .red-bar img{
     padding: 10px;
 }
 .col-md-4:hover{
     .profile-info .red-bar{background-color:#333;}
     
 }
 
 .profile-info .info-title{
     font-family: "Montserrat", sans-serif;
     padding-top: 35px; 
     color: #000;
     font-weight: 300;
     font-size:16px;
     text-align: center;
 }
 .profile-info .info-price{
     color: #ff4948;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
 } 

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

 
 .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

th.red-b{
     background-color:#ff4948;
     width: 100%;
     color: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    border-top: 1px solid #fff8f8;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff8f8;
}
.stars {
    padding-top: 10px;
	width: 100%;
	display: inline-block;
}
span.glyphicon {
    padding: 5px;
}
.glyphicon-star-empty {
    color: #9d9d9d;
}
.glyphicon-star-empty, .glyphicon-star { 
    font-size: 18px;
}
.glyphicon-star {
    color: #FD4;
    transition: all .25s;
}   
.glyphicon-star:hover { 
    transform: rotate(-15deg) scale(1.3); 
}
#total,#total-value{
    color:#ff4948 ;
}

.cute{
    font-size: 13px;
    font-weight: lighter;
    line-height: 1.6;
    color: #888;
    background: #eee;
    border: 2px solid #eee;
    text-transform: none;
}


.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
